

html{
    font-size: 62.5%;
}



body, html {
    height: 100% !important;
    margin: 0;
    padding: 0;}
    
.saca_gutter{
        --bs-gutter-x: 0
    }
/* header */


#header{
    background-color: #102742;
    width: 100%;
    position: fixed;
}


.logo{
    width: auto;
    height: 5rem;
}

.tex,.tex_main{
    color: white;
    font-family: 'Bruno Ace', cursive;
    text-decoration: none;
}

/* main */
#main{
    background-image: url(../img/index_fondo1.jpg);
    height: 100%;
    padding: 12rem;
}
.cont{
    height: 100%;
    
}
.tex,.tex_main{
    font-size: 2rem;
    text-align: center;
    
}
@media(max-width: 768px) {
    .tex_main{
        font-size: 1.5rem;
        
    }
}
.num{
    font-size: 3rem;
}

.borde{
    border: 0.5rem solid #102742;
    height: 19rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    
}
@media(max-width: 768px) {
    .borde{
        height: 15rem;
        
    }
}
.btn{
    background-color: #102742;
    height: 9rem;
    
}

.correcto{
    background-color: green;
}
.incorrecto{
    background-color: red;
}

.input{
    width: auto;
    height: 5rem;
    color: black;
}
@media(max-width: 768px) {
    .input{
        height: 5rem;
        width: 30rem;
    }
}
.con_input{
    display: flex;
    justify-content: center;
}

/* footer */
#footer{
    background-color: #102742;
    
}
.redes{
    height: auto;
    width: 4rem;
    margin: 1rem;
}
.img{
    height: auto;
    width: 30rem;
    
}

